.listload__wrapper {
  margin-bottom: 45px;
  padding: 1.5vw 2vw;
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0.5vw;
  -webkit-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.75);
}
