.contact__main-page-wrapper {
  background-color: #f7f8fa;
  min-height: 900px;
  position: relative;
  display: block;
  z-index: 1;
}

.contact__title-header-container {
  display: flex;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 10px;
  background-color: rgb(225, 225, 225);
  border-bottom: 2px solid rgb(174, 174, 174);
  color: #8dc633;
  text-shadow: -2px 2px black;
}

.ui.header.contact__title-header {
  color: #8dc633;
  padding-left: 35px;
  font-size: 2rem;
}
